.navbar a{
    color: white;
}
.navbar {
    background-color: transparent;
}
.j {
    background-color: transparent;
    height: 60vh;
}
.banner {
    background-image: url(images/banner.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:60vh;
}
.jtext {
    color: white;
}
.jbanner {
    text-align: center;
}

